name: Hello World!

on:
  push:
    branches:
      - hello #switched to 'hello' branch so it won't trigger on main

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello
        run: |
          echo "Hello World!"
      - name: Print time
        run: |
          date +"%A, %d %B %Y %H:%M:%S %Z"
      - name: List files
        run: |
          ls -la
