name: Deployment pipeline

on:
  push:
    branches:
      - main
  # 11.13. Trigger deployment, excluding conditional, also on pull requests to main branch
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Install playwright browsers
        run: npx playwright install --with-deps

      - name: Check style
        run: npm run eslint

      - name: Build application
        run: npm run build

      - name: Run tests
        run: npm test

      - name: Run E2E tests
        run: npm run test:e2e

      # 11.14. Trigger deployment only on push events to main branch
      - name: Trigger deployment to Render.com
        if: ${{ github.event_name == 'push' }}
        run: curl ${{ secrets.RENDER_DEPLOY_URL }}

  tag_release:
    needs: [simple_deployment_pipeline]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Bump version and push tag
        if: ${{ github.event_name == 'push' }}
        uses: anothrNick/github-tag-action@1.75.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
